.contact-logs-info-card {
  > .info {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    align-items: center;
    &:hover {
      background-color: #ccc;
      box-shadow: 0 1px 3px #d2cfcf;
    }
  }
  > .info > .text {
    color: $color;
    font-size: $font-size;
    font-weight: bold;
  }
  > .info > .number {
    color: $color;
  }
}
