$tabColor: #607d8b;
$color: #42a5f5;
$fontSize: 13px;
.contact-logs-notification {
  background: #fff;
  > .content-card {
    padding-top: 0;
  }
  > .title {
    display: flex;
    margin-bottom: 6px;
  }
}
.contact-logs-notification > .title > .sum-notification {
  padding: 22px 29px;
  font-size: $fontSize;
}
.contact-logs-notification > .title > .sum-notification > .sum-number {
  color: rgb(214, 14, 14);
  font-size: 20px;
}
.contact-logs-notification > .title > .confirm-btn {
  margin-top: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0 1px 3px #86858529;
  color: $color;
  width: 100px;
  height: 30px;
}
